{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "prettier/@typescript-eslint",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": "off",
    "no-multiple-empty-lines": 1
  },
  "env": {
    "node": true,
    "browser": false
  }
}